/* src/pages/Contact.css */

.contact-container {
  animation: fadeIn 0.8s ease-in-out;
}

.animate-title {
  animation: slideDown 0.6s ease-in-out;
  background-color: white !important;
}

.contact-form input,
.contact-form textarea {
  transition: border-color 0.3s ease;
  width: 100%;
}

.contact-form .input-div {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007bff;
  box-shadow: none;
}

.contact-image {
  max-width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}

.contact-image:hover {
  transform: scale(1.03);
}

.contact-container h2 {
  background-color: #212529;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade {
  animation: fadeIn 1s ease;
}
