.hero-banner {
  height: 90vh;
  background: url("../../assets/top-post1.jpg.webp") center center / cover
    no-repeat;
  position: relative;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent dark overlay */
  padding: 3rem;
  border-radius: 15px;
  max-width: 700px;
  backdrop-filter: blur(3px);
}

.hero-overlay h1,
.hero-overlay p {
  color: #fff;
}

.btn-primary {
  background-color: red;
  border-color: red;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #fb8c00;
  border-color: #fb8c00;
}
